
<div>
<%if signed_in?%>
 <%= link_to "Ask a question", new_question_path, remote: true, class: "btn btn-info pull-right" %>

<%else%>
<a data-toggle="modal" href="#login" class="btn btn-info pull-right" role="button">Ask a question</a>

 <%end%>
<div class="panel panel-default" style="margin-top:50px">
    <div class="panel-heading">
        <h3>Questions</h3>
    </div>
    <div class="panel-body  body">
            <% @questions.each do |question|%>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-1"><div class="text-center"><%= question.votes.length %></div><div class="text-center">votes</div></div>
                            <div class="col-sm-1"><div class="text-center"><%= question.answers.length%></div><div class="text-center">answer</div></div>
                            <div class="col-sm-1"><div class="text-center">0</div><div class="text-center">views</div></div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6"><%=link_to(question.title, question_path(question))%><div>posted by <%= question.user.username%></div></div>
                        </div>
                    </div>
                </div>
                <% end%>
                
    </div>
</div>
</div>