<!DOCTYPE html>
<html>

<head>
  <title>Stack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <style>
          .text-center{text-align: center;}
          .h-body{min-height :300px;}
          .h-comment{max-height: 300px;
    overflow-y: auto;}
        </style>
</head>

<body>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Flow Overstack</a>
      </div>
      <ul class="nav navbar-nav">

        <li>
          <a href="#">Questions</a>
        </li>
        <li>
          <a href="#">Users</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
       <!--<li><a href="users/sign_out" data-method="delete"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li> -->
       <li><%= link_to("<span class='glyphicon glyphicon-log-in'></span> Salir".html_safe, "users/sign_out", :method => :delete)%></li>
      <%else%>
        <li>
          <a href="/users/sign_up">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li>
          <a href="/users/sign_in">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <%end%>
      </ul>
      <form class="navbar-form navbar-right" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </nav>

  <div class="container">

    <%= yield %>
  </div>
</body>

</html>